{% extends 'base.html' %}
{% block body %}
{%include 'alert.html'%}
{%load static%}
<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Cart</h1>
        </div>
      </div>
      <div class="col-lg-7"></div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<div class="untree_co-section before-footer-section">
  <div class="container">
    <div class="row mb-5 item_display">
      <form class="col-md-12 " method="post">
        {% csrf_token %}
        <div class="site-blocks-table">
          <table class="table">
            <thead>
              <tr>
                <th class="product-thumbnail">Image</th>
                <th class="product-name">Product</th>
                <th class="product-price">Price</th>
                <th class="product-quantity">Quantity</th>
                <th class="product-total">Total</th>
                <th class="product-remove">Remove</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart_items %}
              <tr id="cart-item-{{ item.id }}">
                  <td class="product-thumbnail">
                      <img src="{{ item.images.first.image.url }}" alt="{{ item.product.product_name }}" class="img-fluid" />
                  </td>
                  <td class="product-name">
                      <h2 class="h5 text-black">{{ item.product.product_name }}</h2>
                      <p>Size: {{ item.variant.size }}, Color: {{ item.variant.color }}</p>
                  </td>
                  <td>${{ item.variant.product.price|floatformat:2 }}</td>
                  <td>
                    
                      <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px">
                          <input 
                              type="number"
                              id="quantity_{{ item.variant.uid }}"
                              name="quantity"
                              class="form-control text-center quantity"
                              value="{{ item.quantity }}"
                              min="1"
                              aria-label="Quantity"
                              data-item-id="{{ item.id }}"
                              
                              
                          />

                          

                      </div>
                  </td>
                  <td id="product-total-{{ item.id }}">${{ item.total_price|floatformat:2 }}</td>
                  <td>
                    <button 
                      type="button" 
                      data-item-id="{{ item.id }}" 
                      class="btn btn-black btn-sm remove-from-cart">
                      X
                    </button>
                 
                  </td>
              </tr>
              {% endfor %}
          </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="row mb-5">
                 
                  <div class="col-md-6">
                      <a href="{% url 'shop' %}" class="btn btn-outline-black btn-sm btn-block">Continue Shopping</a>
                  </div>
              </div>
              <!-- <div class="row align-items-center">
                <div class="col-md-12 mb-3">
                  <label class="text-black h4" for="coupon">Coupon</label>
                  <p>Enter your coupon code if you have one.</p>
                </div>
                <div class="col-md-8 mb-3 mb-md-0">
                  <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
                </div>
                <div class="col-md-4">
                  <button class="btn btn-black w-100 py-3">Apply Coupon</button>
                </div>
              </div> -->
              
          </div>
          <div class="col-md-6 pl-5">
              <div class="row justify-content-end">
                  <div class="col-md-7">
                      <div class="row">
                          <div class="col-md-12 text-right border-bottom mb-5">
                              <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                          </div>
                      </div>
                      <div class="row mb-3">
                          <div class="col-md-6">
                              <span class="text-black">Subtotal</span>
                          </div>
                          <div class="col-md-6 text-right">
                            <strong class="cart-total" id="cart-total" style="color: rgba(0, 0, 0, 1) !important; font-weight: bolder;">
                                ${{ total_price|floatformat:2 }}
                            </strong>
                        </div>
                        
                      </div>
                      <div class="row mb-5">
                          <div class="col-md-6">
                              <span class="text-black">Total</span>
                          </div>
                          <div class="col-md-6 text-right">
                            <strong class="cart-total" id="cart-total" style="color: rgba(0, 0, 0, 1) !important; font-weight: bolder;">
                                ${{ total_price|floatformat:2 }}
                            </strong>
                        </div>
                        
                      </div>
      
                      <div class="row">
                          <div class="col-md-12">
                            <a href="{% url 'checkout' %}" class="btn btn-outline-black btn-sm btn-block">Checkout</a>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </form>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/cart.js' %}"></script>      

{% endblock %}
