{% extends "base.html" %} {% block body %} {% load static %}
<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>About Us</h1>
          <p class="mb-4">
            We are committed to offering the latest trends in men's fashion, with a focus on quality and style.
             Our goal is to make shopping simple, enjoyable, and affordable, providing exceptional customer service every step of the way.
          </p>
          <p>
            <a href="#" class="btn btn-secondary me-2">Shop Now</a>
            <a href="#" class="btn btn-white-outline">Explore</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          {% if banner.image %}
          <img
            src="{{ banner.image.url }}"
            class="img-fluid"
            alt="Banner Image"
          />
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6">
        <h2 class="section-title">Why Choose Us</h2>
        <p>
          We offer a wide range of high-quality men's apparel, crafted to fit every style and occasion. With fast and free shipping,
           hassle-free returns, and exceptional customer service, shopping with us is a seamless experience. Our commitment to 
           affordability and fashion-forward designs ensures you get the best value for your money. Choose us for reliable service and
            a premium shopping experience every time!
        </p>

        <div class="row my-5">
          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img
                  src="{% static 'images/truck.svg' %}"
                  alt="Fast Shipping"
                  class="img-fluid"
                />
              </div>
              <h3>Fast &amp; Free Shipping</h3>
              <p>
                Get Your Orders Delivered Quickly, Without Any Extra Charges.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img
                  src="{% static 'images/bag.svg' %}" 
                  alt="Easy to Shop"
                  class="img-fluid"
                />
              </div>
              <h3>Easy to Shop</h3>
              <p>
                Simple Shopping Experience at Your Fingertips.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img
                  src="{% static 'images/support.svg' %}" 
                  alt="24/7 Support"
                  class="img-fluid"
                />
              </div>
              <h3>24/7 Support</h3>
              <p>
                We're Always Here to Help You, 24/7, No Matter What.
              </p>
            </div>
          </div>

          <div class="col-6 col-md-6">
            <div class="feature">
              <div class="icon">
                <img
                  src="{% static 'images/return.svg' %}" 
                  alt="Hassle-Free Returns"
                  class="img-fluid"
                />
              </div>
              <h3>Hassle Free Returns</h3>
              <p>
                Enjoy Hassle-Free Returns, Shop with Confidence and Peace of Mind.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="img-wrap">
          {% if about_banner.image %}
          <img
            src="{{ about_banner.image.url }}"
            class="img-fluid"
            alt="Banner Image"
          />
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
