{% extends "base.html" %} {%block body%} {% include 'alert.html' %}
<!-- Start Hero Section -->
{% load static %}

<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Elevating Men's<span class="d-block">Style Essentials</span></h1>
          <p class="mb-4">
            Embrace a new standard of sophistication with clothing that combines premium fabrics,
             intricate details, and cutting-edge designs, tailored just for you.

          </p>
          <p>
            <a href="{% url 'shop' %}" class="btn btn-secondary me-2">Shop Now</a>
            <a href="{% url 'shop' %}" class="btn btn-white-outline">Explore</a>
          </p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          {% if banner.image %}
          <img src="{{ banner.image.url }}" class="img-fluid" alt="Banner Image" />
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>


<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
  <div class="container">
    <div class="row mb-5">
      <!-- Start Column 1 -->
      <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
        <h2 class="mb-4 section-title">Crafted with excellent material.</h2>
        <p class="mb-4">
          Indulge in premium quality garments that blend elegance, comfort, and impeccable craftsmanship.

        </p>
        <p><a href="{% url 'shop' %}" class="btn">Explore</a></p>
      </div>
      <!-- End Column 1 -->

      <!-- Dynamically Generated Columns -->
      {% for category in categories %}
      <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
        <a class="product-item" href="{%url 'shop'%}">
          <img src="{{ category.category_image.url }}" class="img-fluid product-thumbnail" alt="{{ category.name }}" />
          <h3 class="product-title">{{ category.category_name }}</h3>

          <!-- <span class="icon-cross">
            <img src="{% static 'images/cross.svg' %}" class="img-fluid" />
          </span> -->
        </a>
      </div>
      {% endfor %}
      <!-- End Dynamically Generated Columns -->
    </div>

  <!-- End Product Section -->



  <!-- Start Popular Product -->

    <div class="row mt-5">
      <h1 class="mt-5 mb-5">Latest Products</h1>
      <!-- Loop through each product in the product list -->
      {% for product in products_list %}
      <div class="col-12 col-md-4 col-lg-3 mb-5">
        <a
          class="product-item"
          href="{% url 'product_catalogue' product.uid %}"
        >
          <!-- Display the first image if available -->
          <img
            src="{% if product.product_images.all %}{{ product.product_images.first.image.url }}{% endif %}"
            class="img-fluid product-thumbnail"
            alt="{{ product.product_name }}"
          />

          <h3 class="product-title">{{ product.product_name }}</h3>
          <strong class="product-price">${{ product.price }}</strong>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End Popular Product -->

{%endblock%}
