{% include 'head.html' %} {% include 'navbar.html' %}

<body>
  {% include 'alert.html' %}
  <!-- Include the alert for displaying messages -->
  <div class="form-container">
    <h1 class="text-center mb-4">OTP Verification</h1>
    <form method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input
          type="text"
          name="otp"
          class="form-control"
          id="otp"
          placeholder="Enter OTP"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary mb-3">Verify OTP</button>
      <p class="text-center">
        <a href="{% url 'registration' %}">Resend OTP</a>
      </p>
    </form>
  </div>
</body>
