{% include 'head.html' %} {% include 'navbar.html' %}

<body>
  {% include 'alert.html' %}
  <!-- Include the alert for displaying messages -->
  <div class="form-container">
    <h1 class="text-center mb-4">Enter your number</h1>
    <form method="post">
      {% csrf_token %}
      <div class="form-group mb-4">
        <input
          type="text"
          name="otp"
          id="otp"
          class="form-control"
          placeholder="Enter OTP"
          required
        />
      </div>
      <div class="form-group mb-4">
        <input
          type="password"
          name="new_password"
          id="new_password"
          class="form-control"
          placeholder="New password"
          required
        />
      </div>
      <div class="form-group mb-4">
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          class="form-control"
          placeholder="Confirm password"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  </div>
</body>
