{% extends "dashboard/dashboard.html" %} {% block content %}
<div class="category-form-container">
  <h1>Category List</h1>
  <table class="category-table">
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
      <tr>
        <td>{{ category.category_name }}</td>
        <td>
          {% if category.category_image %}
          <img
            src="{{ category.category_image.url }}"
            alt="{{ category.category_name }}"
            width="50"
          />
          {% endif %}
        </td>
        <td>
          <a
            href="{% url 'update_category' category.uid  %}"
            class="btn btn-primary mb-3"
            >Edit</a
          >

          <a
            href="{% url 'delete_category' category.uid %}"
            class="btn btn-danger"
            onclick="return confirm('Are you sure you want to delete this category?');"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'add_category' %}" class="add-category-btn"
    >Add New Category</a
  >
</div>
{% endblock %}
