{% extends "dashboard/dashboard.html" %}
{%block content%}
<div class="category-form-container">
    <h1>Category List</h1>
    <table class="category-table">
      <thead>
        <tr>
          <th>Category Name</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        {% for category in categories %}
        <tr>
          <td>{{ category.category_name }}</td>
          <td>
            {% if category.category_image %}
            <img
              src="{{ category.category_image.url }}"
              alt="{{ category.category_name }}"
              width="50"
            />
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'add_category' %}" class="add-category-btn">Add New Category</a>
  </div>
  
{%endblock%}
